# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
/*build*

# QTCreator
CMakeLists.txt.user

# Jetbrains IDEs
/.idea
